/* CSS para o componente Header */
header {
    text-align: center;
    background-color: #f7f7f7;
    padding: 20px;
    border-bottom: 2px solid #ddd;
  }
  
  header h2 {
    font-size: 2rem;
    color: #333;
  }
  
  header p {
    font-size: 1.2rem;
    color: #555;
  }
  
  /* CSS para o componente Nav */
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
    margin: 0;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #ffa500;
  }
  
  /* CSS para o componente Main */
  main {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
  }
  
  .carousel-inner img {
    max-height: 400px;
    object-fit: cover;
  }
  
  /* CSS para informações de contato */
  .info-contato {
    margin-top: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .info-contato p {
    font-size: 1.2rem;
    color: #444;
    margin: 10px 0;
  }
  
  /* CSS para o componente Footer */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
  }
  
  footer ul li {
    display: inline;
    margin: 0 10px;
  }
  
  footer ul li a {
    text-decoration: none;
    color: #ffa500;
  }
  
  footer ul li a:hover {
    text-decoration: underline;
  }
  
  footer p {
    margin-top: 10px;
    font-size: 0.9rem;
  }
  